
.AddNote{
    @include spaceBetween;
    box-shadow: 0px 2px 4px black;
    color: $primary-color;
    margin-bottom: 1rem;
    margin-left: 1rem; 
    margin-right: 1rem;
    border-radius: 10px;
    min-height: 200px;
    padding: 10px 20px;

    &:hover{
        // @include transition(.9);
        cursor: pointer;
    }

    & textarea{
        padding: 5px;
        color: $secondary-color;
        border: none;
        resize: none;
        outline: none;
        line-height: 1.2;
        overflow: hidden;
    }

   

    .bottom{
        @include flexCenter;
    }

    & button{
        background-color: $primary-color;
        color: $tertiary-color;
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 2px 4px black;

        &:hover{
            @include transition(1.1);
            cursor: pointer;
        }
    }
}