
.Header{
    @include flexCenter;
    border-bottom: 2px solid $secondary-color;
    margin: 1rem 1rem 2rem 1rem;
    
  
    & button{
        background-color: $secondary-color;
        color: $tertiary-color;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        
        &:hover{
            @include transition(.9);
        }
    }
}