
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-color: rgba(0, 0, 255, 0.829);
$secondary-color: #333;
$tertiary-color: white;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
