@import 'variables';
@import 'config';
@import 'note';
@import 'header';
@import 'addnote';
@import 'searchbar';
@import 'darkmode';

body{
    font-family: $font-stack;
    font-size: 1.1rem;
}

.container{
    max-width: 800px;
    height: 100vh;
    margin: 1rem auto;
}

.NoteList{
    @include grid;
}



